/*
 * Tool used for defining colors
 * https://material.io/resources/color/
 */

:root {
  --color-primary: #ff7043;
  --color-primary-light: #ffa270;
  --color-primary-dark: #c63f17;

  --color-border: #d0d2d2;

  --color-text: #151515;
  --color-text-secondary: #767777;
  --color-background: #ffffff;
  --color-code-background: #f1f4f8;

  --size-max-content-width: 75rem;
  --size-header-height: 7rem;
  --size-page-horizontal-margin: 2rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #ff7043;
    --color-primary-light: #ffa270;
    --color-primary-dark: #c63f17;

    --color-border: #979898;

    --color-text: #f0f0f0;
    --color-text-secondary: #8d8e8e;
    --color-background: #1a1a1a;
    --color-code-background: #414a58;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 0.625rem;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Fira Sans", system-ui, sans-serif;
  font-size: calc(1.2rem + 0.4vmin);
  line-height: 160%;
  margin: calc(var(--size-header-height) + 6rem) 0 0;
}

/* Content styles */

h1 {
  font-size: 1.8em;
  line-height: 1.25;
  margin: 2em 0 2em;
}

h2 {
  font-size: 1.4em;
  line-height: 1.3;
  margin: 2em 0 0.5em;
}

h3 {
  font-size: 1.2em;
  line-height: 1.4;
  margin: 2em 0 0.5em;
}

article p {
  font-size: 1.1em;
  line-height: 1.5;
}

pre {
  background-color: var(--color-code-background);
  border-radius: 0.5rem;
  padding: 2em;
  max-width: 100%;
  overflow-x: auto;
}

article ul li,
article ol li {
  margin: 1em 0;
}

/* Link */

a:link {
  color: var(--color-primary);
}
a:visited {
  color: var(--color-primary-dark);
}
a:hover {
  color: var(--color-primary-light);
}
a:active {
  color: var(--color-primary-light);
}

a.wrapper:link,
a.wrapper:visited,
a.wrapper:hover,
a.wrapper:active {
  color: inherit;
  text-decoration: none;
}

/* Header */

.header {
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-border);

  padding: 0 var(--size-page-horizontal-margin);
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--size-header-height);
  z-index: 1;
}

.header__content {
  align-items: center;
  display: flex;
  margin: 0 auto;
  padding: 1rem 0;
  max-width: var(--size-max-content-width);
  justify-content: space-between;
  height: 100%;
}

/* Title */

.title__name {
  display: block;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.3;
}

.title__subtitle {
  color: var(--color-text-secondary);
  display: block;
  font-size: 1em;
  line-height: 1.1;
}

/* Main navigation */

.main-navigation {
  display: inline-block;
  position: relative;
}

.main-navigation ul {
  background-color: var(--color-background);
  border-radius: 2px;
  border: 1px solid;
  border-color: var(--color-border);
  display: none;
  font-size: 1rem;
  padding: 1rem;
  margin: 0;
  position: absolute;
  top: calc(100% - 1px);
  right: 0;
  list-style: none;
  min-width: 16rem;
  z-index: -1;
}

.main-navigation li {
  display: block;
  line-height: 5rem;
  font-size: 1.6rem;
}

.main-navigation li a {
  color: var(--color-text);
  display: block;
}

/* Page */

.page {
  margin: 0 auto;
  max-width: var(--size-max-content-width);
}

.page-margins {
  margin: 0 var(--size-page-horizontal-margin);
}

/* Footer */

footer {
  margin: 10rem auto;
  max-width: var(--size-max-content-width);
  text-align: center;
}

/* Logo */

.logo {
  height: calc(var(--size-header-height) / 2);
  vertical-align: middle;
}

/* Navigation toggle */

.navigation-toggle {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  background-color: var(--color-background);
  border: 1px solid transparent;
  display: flex;
  font-weight: 700;
  height: 4rem;
  border-radius: 0.4rem;
  align-items: center;
  justify-content: center;
  width: 12rem;
}

/* .navigation-toggle:hover {
  color: var(--color-primary-light);
}

.navigation-toggle:active {
  color: var(--color-primary-dark);
} */

.navigation-toggle svg {
  display: inline-block;
  height: 3rem;
  margin: 0 0 0 1rem;
  width: 3rem;
}

.navigation-toggle.is-open {
  border: 1px solid;
  border-color: var(--color-border) var(--color-border) var(--color-background);
  border-radius: 0.4rem 0.4rem 0 0;
}

.navigation-toggle.is-open ~ ul {
  border-color: var(--color-border) var(var(--color-background));
  border-radius: 2px 0 2px 2px;
  display: block;
}

/* Publish date on post */

.post-time {
  color: var(--color-text-secondary);
  display: block;
  margin: 5rem 0;
}

/* Social media */

.social-media {
  display: block;
  margin: 3rem 0;
  padding: 0;
}

.social-media li {
  display: inline-block;
  margin: 0 0 0 3rem;
}

.social-media li:first-of-type {
  margin: 0;
}

.social-media svg {
  height: 3rem;
}

/* Post list */

.post-list {
  margin: 0;
  padding: 0;
}

.post-list__item {
  display: block;
  margin: 5rem 0 0;
  padding: 0;
  position: relative;
}

.post-list__item a {
  display: block;
  padding: 0 0 0 2.2rem;
}

.post-list__item:before {
  display: inline-block;
  content: "";
  position: absolute;
  background-color: var(--color-primary);
  width: 0.7rem;
  left: 0rem;
  top: 2rem;
  bottom: 1rem;
  border-radius: 0.2rem;
  pointer-events: none;
  opacity: 0.9;
}

.post-list__item-title {
  font-size: 1.1em;
  font-weight: 700;
  display: inline-block;
  line-height: 200%;
}

.post-list__item-description {
  display: block;
  margin: 0 0 0;
}

.post-list__item-date {
  color: var(--color-text-secondary);
  display: block;
}

/* Introduction block */

.introduction-block {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 4rem;
}

.introduction-block__name {
  flex: 1 0 auto;
  text-align: center;
  width: 100%;
}

.introduction-block__photo {
  background-color: #e9e9e9;
  border-radius: 1rem;
  flex: 0 0 auto;
  height: 10em;
  margin: 0 auto;
  width: 10em;
}

.introduction-block__content {
  flex: 0 1 auto;
  padding: 2em 0 0;
  text-align: center;
  width: 100%;
}

@media only screen and (min-width: 30em) {
  .introduction-block__name {
    text-align: left;
  }

  .introduction-block__photo {
    margin: 0;
  }

  .introduction-block__content {
    display: flex;
    align-items: center;
    padding: 0 0 0 2em;
    text-align: left;
    width: calc(100% - 10em);
  }
}

.introduction-block__content p {
  margin: 0;
}
